#Opener{
margin-left: 50px;
margin-top:50px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
  
    font-weight: 600;
margin-bottom:10px;
transition: all .3s ease-in-out;
}

h1:hover{
    cursor: pointer;
    font-size: 40px;
    color:blue;
    transition: all .3s ease-in-out;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    
    font-weight:100px;
}

#sunset{
margin-top:50px;
max-width: 800px;


}